<div class="signin-content">
    <mat-card>
        <mat-toolbar>
            <h2>
                Login
            </h2>
        </mat-toolbar>
        <form #f="ngForm" (ngSubmit)="onSubmit()">

            <mat-form-field>
                <input matInput placeholder="Enter your email" [formControl]="usernameControl" [(ngModel)]="model.username" required>
                <mat-error *ngIf="usernameControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Enter your password" [formControl]="passwordControl" [(ngModel)]="model.password" required>
                <mat-error *ngIf="passwordControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <div>
                <button mat-button color="primary" [disabled]="loading">Login</button>
                <a mat-button [routerLink]="['/register']">Register</a>
            </div>

            <mat-spinner *ngIf="loading"></mat-spinner>

        </form>
    </mat-card>
</div>