<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav>
    <!-- sidenav content -->
    <mat-toolbar>
      <user-avatar></user-avatar>
      <span flex></span>
      <mat-toolbar-row>Firstname Lastname</mat-toolbar-row>
      <mat-toolbar-row>email@domainname.com</mat-toolbar-row>
      <mat-toolbar-row>
        <a [routerLink]="['/login']">Logout</a>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item *ngFor="let navItem of navItems">{{navItem.name}}</a>
    </mat-nav-list>
    <!-- ./sidenav content -->
  </mat-sidenav>

  <mat-toolbar color="primary">

    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>

    <h1>Hi {{currentUser.firstName}}!</h1>

    <span flex></span>
  </mat-toolbar>

  <!-- primary content -->
  <app-feed-list></app-feed-list>

</mat-sidenav-container>